/* Basic Reset */
:root {
  --dark-background: linear-gradient(0deg, #31363c 0%, #222831 100%);
  --light-background: linear-gradient(0deg, #fff 15%, #f0ebe3 85%);
  --light-background-inverted: linear-gradient(0deg, #f0ebe3 15%, #fff 85%);
  --dark-nav: #1d222a;
  --light: #f0ebe3;
  --dark: #212529;
  --white: #fff;
  --accent: #29a587;
  --light-font: #262626;
  --light-mode-shadow: #26262642;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
html {
  scroll-behavior: smooth;
}
• {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}
body {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  color: var(--light-font);
  font-weight: 400;
  background-color: var(--light);
  /* width: 98vw; */
}
nav {
  padding: 0.6rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 93vw;
  z-index: 100;
}
nav .logo-div {
  font-size: 2rem;
  font-weight: 600;
}
nav .icons-div {
  display: flex;
  gap: 3rem;
  font-size: 1.5rem;
}
#menu {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  cursor: pointer;
}
nav .icons-div p span {
  background-color: var(--light-font);
  width: 1.5rem;
  height: 2px;
}
.wrapper-div {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.hero-section {
  background-image: var(--light-background);
  padding: 12.5vh 1.5rem;
  height: 100vh;
}

.hero {
  padding: 2.5rem 1rem;
}
.name-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  max-width: 695px;
  font-weight: 600;
  font-size: 15px;
}

.name-div #salutation-text span {
  color: var(--accent);
}
.name-div #name-text span {
  color: var(--accent);
}
.name-div #name-text {
  letter-spacing: 1px;
  font-size: 85px;
  font-family: serif;
  color: var(--white);
  text-shadow: 2px 2px 3px var(--light-font), -2px -2px var(--light-font);
  z-index: 10;
}
.name-div #role-text span {
  font-family: Caveat;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: none;
  margin-left: 10px;
}
.desc-div {
  margin-top: 2.5rem;
  color: var(--light-font);
  font-size: 18px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  opacity: 0.7;
  width: 40vw;
}
.links-div {
  font-size: 25px;
  margin-top: 1.5rem;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: underline;
  gap: 1rem;
}
.links-div a {
  color: var(--accent);
}
.button-div {
  margin-top: 2.5rem;
  display: flex;
  gap: 2rem;
}
.button-div button:first-child {
  padding: 0 40px;
  font-size: 13px;
  color: var(--light-font);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  height: 56px;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.3, 0, 0.3, 1);
  border: 2px solid var(--light-font);
  background: transparent;
  box-shadow: 5px 5px var(--light-mode-shadow);
  border-radius: 50px;
}
.button-div button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.button-div button:hover {
  scale: 1.1;
  background-color: var(--accent);
  color: var(--white);
}

/* Absolute Development */
.back-effect-div {
  position: absolute;
  height: 700px;
  width: 700px;
  border-radius: 50%;
  background-color: var(--accent);
  right: -2rem;
  top: 200px;
  z-index: 0;
}
#pro-pic {
  height: 950px;
  position: absolute;
  right: 0rem;
  z-index: 10;
  top: -80px;
}
.experience-div {
  position: absolute;
  right: 30rem;
  bottom: 4rem;
  z-index: 10;
}
.projects-div {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  z-index: 10;
}
.card {
  font-size: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 30px;
  color: var(--light-font);
  font-weight: 700;
  letter-spacing: 0.05em;
  height: 80px;
  cursor: pointer;
  border: 2px solid var(--light-font);
  background: var(--white);
  box-shadow: 5px 5px var(--light-mode-shadow);
  border-radius: 50px;
}
.card span {
  color: var(--accent);
}
.text-div {
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

/* Skills Section */
.skills-sec {
  background-image: var(--light-background-inverted);
  height: 100vh;
  padding: 5vh 0.5rem;
  font-family: serif;
}
.skill-heading-div {
  text-align: center;
  font-family: serif;
  font-size: 40px;
  font-weight: 700;
}
.skill-container {
  margin-top: 7vh;
  display: grid;
  gap: 0rem 2rem;
  justify-content: center;
  grid-template-columns: repeat(3, 29vw);
  grid-template-rows: repeat(auto, 30vh);
}
.skill-upper {
  display: flex;
  flex-direction: column;
  font-size: 21px;
  font-weight: 500;
  padding: 2rem 2.5rem;
  /* border-bottom: 1px solid black; */
}
.skill-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
.skill-name p:last-child {
  font-size: 18px;
}
.skill-name span {
  color: var(--accent);
}
.skill-desc {
  font-size: 16px;
  text-align: start;
  color: var(--light-font);
  font-weight: normal;
  line-height: 1.7;
  font-family: var(--bs-font-sans-serif);
}
.arrow-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow-circle hr:first-child {
  width: 60%;
  opacity: 1;
}
.arrow-circle hr {
  width: 40%;
  opacity: 0.3;
  height: 1px;
  background-color: var(--light-font);
}
.arrow-circle div {
  height: 28px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--accent);
  border: 2px solid var(--light-font);
  box-shadow: 5px 5px var(--light-mode-shadow);
  transition: all 0.2s ease-in-out;
}
.arrow-circle div:hover {
  translate: 100px;
}

/* Projects Section */
.projects-section {
  height: max-content;
  padding: 5vh 0.8rem;
  background-color: var(--light);
}
.projects-container {
  margin-top: 7vh;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto, auto);
}
.project-box {
  /* background-image: linear-gradient(0deg, #f0ebe3 15%, #ffffff 85%); */
  background-color: var(--white);
  display: flex;
  width: fit-content;
  flex-direction: column;
  padding: 2rem;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}
.project-box:hover {
  scale: 1.02;
}
.project-box img {
  height: 210px;
  width: 350px;
  border-radius: 25px;
  border: 1px solid var(--light-font);
}
.project-box span {
  color: var(--accent);
  font-weight: 700;
  font-size: 16px;
  margin-top: 15px;
}
.project-box b {
  font-weight: 700;
  font-family: serif;
  font-size: 28px;
  margin-top: 10px;
}
.project-box p {
  line-height: 1.5;
  font-size: 16px;
}
.project-box button {
  font-weight: 700;
  font-size: 16px;
  color: var(--accent);
  background-color: transparent;
  align-self: flex-start;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--light-font);
  border-radius: 25px;
  box-shadow: 5px 5px var(--light-mode-shadow);
  transition: all 0.2s ease-in-out;
}
.project-box button:hover {
  scale: 1.1;
  background-color: var(--accent);
  color: var(--white);
}

/* Contact me section */

.contact-me {
  padding-top: 10vh;
  height: 100vh;
  background-image: var(--light-background);
}
.contact-container {
  display: flex;
  gap: 10rem;
  padding: 7vh 5vw;
  align-items: center;
}
.info-div {
  display: flex;
  gap: 2rem;
  align-items: baseline;
}
.cont {
  margin-bottom: 4rem;
}
.cont div {
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 52px;
  background-color: var(--white);
}
.cont hr {
  width: 2.5rem;
  opacity: 1;
}
.contact-info-div b {
  font-size: 33px;
  font-family: serif;
  font-weight: 700;
  line-height: 1;
}

.contact-info-div p {
  margin-bottom: 54px;
  margin-top: 0.5rem;
  font-size: 15px;
  line-height: 1.7;
  font-weight: 400;
  color: var(--light-font);
}

.inputs {
  padding: 0 20px;
  height: 60px;
  font-size: 21px;
  color: var(--light-font);
  font-weight: 400;
  background: var(--white);
  border: 2px solid var(--light-font);
  border-radius: 30px;
  margin-top: 10rem;
  width: 100%;
}
.form-div form {
  width: 85%;
  display: flex;
  height: max-content;
  flex-direction: column;
  gap: 1.8rem;
  padding-left: 1rem;
  /* margin-top: 1.4rem; */
  font-weight: 400;
}
form span {
  color: var(--accent);
  font-size: 16px;
}
.name-email {
  display: flex;
  gap: 4rem;
}
.input-lable label {
  margin-left: 25px;
  font-size: 14px;
}
.input-lable input {
  margin-top: 0.5rem;
}

.subject-msg .input-lable:nth-child(even) {
  margin-top: 1.8rem;
}
.subject-msg .input-lable:nth-child(even) input {
  height: 130px;
}

.term-btn {
  display: flex;
  justify-content: end;
  gap: 2rem;
  align-items: center;
  font-size: 16px;
}
.term-btn input {
  font-weight: 600;
  font-size: 14px;
  color: var(--accent);
  background-color: transparent;
  align-self: flex-end;
  cursor: pointer;
  padding: 1.2rem 2.7rem;
  border: 1px solid var(--light-font);
  border-radius: 35px;
  box-shadow: 5px 5px var(--light-mode-shadow);
  transition: all 0.3s ease-in-out;
}

.term-btn input:hover {
  scale: 1.1;
  background-color: var(--accent);
  color: var(--white);
}

/* footer */
.division {
  height: 1px;
  background-color: #6c757d;
}
Footer {
  text-align: center;
  padding: 40px;
  background: transparent;
  color: var(--light-font);
  font-weight: 400;
}
footer span {
  color: var(--accent);
  font-weight: 700;
}

/* Ai  1200px*/
@media (max-width: 1200px) {
  /* Navigation */
  nav {
    width: 93vw;
    padding: 0.6rem 1rem;
    height: 10vh;
  }

  nav .logo-div {
    font-size: 1.6rem;
  }

  nav .icons-div {
    gap: 2rem;
    font-size: 1.2rem;
  }

  /* Hero Section */
  .hero-section {
    padding: 15vh 1rem;
  }
  .name-div #name-text {
    font-size: 65px;
    line-height: 1.1;
    z-index: 10;
  }
  .desc-div {
    width: 60vw;
    font-size: 16px;
    width: 43vw;
  }

  /* Profile Picture Section */
  .back-effect-div {
    width: 700px;
    height: 700px;
    top: 200px;
    right: -6rem;
  }

  #pro-pic {
    height: 620px;
    right: -3rem;
    bottom: 0;
  }

  /* Experience/Projects Cards */
  .experience-div {
    right: 25rem;
    bottom: 4rem;
  }

  .projects-div {
    right: 0rem;
    bottom: 2rem;
  }

  .card {
    font-size: 28px;
    height: 70px;
    padding: 0 20px;
  }

  /* Skills Section */
  .skill-container {
    grid-template-columns: repeat(3, 31.33333%);
    gap: 1rem;
  }

  .skill-upper {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
  }
  .skill-name p {
    font-size: 18px;
  }
  .skill-desc {
    font-size: 14px;
  }
  /* Projects Section */
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
  .project-box span {
    font-size: 13px;
  }
  .project-box b {
    font-size: 22px;
  }
  .project-box p {
    font-size: 14px;
  }
  .project-box img {
    width: 100%;
    height: 150px;
  }

  /* General Adjustments */
  .button-div button:first-child {
    padding: 0 30px;
    height: 50px;
  }

  .text-div {
    font-size: 13px;
  }
}
/* 500  */
@media (max-width: 500px) {
  .wrapper-div{
    height: max-content;
  }
  /* Navigation */
  nav {
    width: 87vw;
    height: 10vh;
  }
  nav .logo-div {
    font-size: 2rem;
    font-weight: 700;
  }

  nav .icons-div {
    gap: 2rem;
    font-size: 1.2rem;
  }

  /* Hero Section */
  .hero-section {
    padding: 8vh 1rem;
  }
  .name-div #name-text {
    font-size: 40px;
    line-height: 1.1;
    z-index: 10;
    text-align: center;
  }
  .name-div #salutation-text {
    font-size: 13px;
    align-self: center;
  }
  .name-div #role-text {
    font-size: 13px;
    align-self: center;
  }
  .name-div #role-text span {
    font-size: 24px;
  }
  .desc-div {
    text-align: center;
    /* width: 60vw; */
    font-size: 18px;
    width: 80vw;
    margin-top: 50vh;
  }
  .links-div{
    text-align: center;
    align-self: center;
    margin-top: 4vh;
  }

  /* Profile Picture Section */
  .back-effect-div {
    width: 340px;
    height: 340px;
    top: 35vh;
    right: 1.8rem;
    /* display: none; */
  }

  #pro-pic {
    height: 420px;
    right: 3rem;
    top: 28vh;
    /* display: none; */
  }

  /* Experience/Projects Cards */
  .experience-div {
    right: 15rem;
    top: 60vh;
  }
  .card .val-div{
    font-size: 18px;
  }
  .card .text-div{
    font-size: 8px;
  }
  .card{
    height: auto;
    border-width: 1px;
    padding: 0 5px;
  }
  .projects-div{
    right: 0.5rem;
    top: 56vh;
  }

  .card {
    font-size: 28px;
    height: 70px;
    padding: 0 20px;
  }

.button-div{
  margin-top: 6vh;
  flex-direction: column;
  text-align: center  ;
}
.button-div button{
  align-self: center;
  width: 50vw;
  font-size: 10px;
  height: 50px;
  padding: 2px 5px;
}
  /* Skills Section */
.skills-sec{
  padding-top:3vh ;
  height: max-content;
}
.skill-heading-div{
  font-size: 26px;
}
  .skill-container {
    margin-top: 0vh;
    grid-template-columns: repeat(1, 90%);
    grid-template-rows: repeat(auto, auto);
    gap: 1rem;
  }

  .skill-upper {
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    font-size: 16px;
  }
  .skill-name p {
    font-size: 18px;
  }
  .skill-desc {
    font-size: 16px;
  }
  .arrow-circle div{
    height: 25px;
    width: 25px;
  }
  /* Projects Section */
  .projects-section{
    /* margin-top: 10vh; */
    height: max-content;
  }
  .project-box{
    width: 305px;
  }
  .projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
  }
  .project-box span {
    font-size: 13px;
  }
  .project-box b {
    font-size: 24px;
  }
  .project-box p {
    font-size: 16px;
  }
  .project-box img {
    width: 300px;
    height: 220px;
  }
  .project-box button{
    font-size: 16px;
  }

  /* General Adjustments */
  .button-div button:first-child {
    padding: 0 30px;
    height: 50px;
  }

  .text-div {
    font-size: 13px;
  }
  /* contact me */
  
  .contact-container{
    padding: 7vh 1rem;
    flex-direction: column;
  }
  .arrow-circle div{
    font-size: 20px;
  }
}
